[package]
name = "game-core"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2"
noise = "0.9"

[profile.release]
opt-level = "s"
lto = true
