@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
@import "../shared/theme/theme.css";

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
	min-height: 100vh;
	font-family: var(--font-primary);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}
